<template name="footer">
<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        1620 South Bentley Ave<br />
                        Los Angeles <br />
                        California 90025 <br />
                        
                        Phone: 310 473-0890  <br />
                        
                        
                    </address>
                    
                </div><!--/col-md-3-->
                <!-- End About -->


                <!-- Link List -->
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2>Emails</h2></div>
                        <a href="mailto:larkgallery@yahoo.com" class="">larkgallery@yahoo.com</a> <br/>
                    
                </div><!--/col-md-3-->
                <!-- End Link List -->

                <!-- Address -->
                <div class="col-md-4 map-img md-margin-bottom-40">
                    <div class="headline"><h2>My other websites</h2></div>
                    You can also see and buy my creations
                    <br/>
                    by clicking on these links:
                    <br/>
                    <a href="www.larkpilinskyart.com">www.larkpilinskyart.com</a>
                    
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2015 &copy; All Rights Reserved.
                       <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>

            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->
</template>