<template name="image">
    <div class="cbp-item">
        <a href="{{url}}" class="cbp-caption cbp-singlePageInline"
           data-title="World Clock Widget<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
                <img src="{{url}}" />
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Art name</div>
                        <div class="cbp-l-caption-desc">short desc</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</template>