.parallax-quote {
    background: url(/img/patterns/16.jpg) 50% 0 repeat fixed !important;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: white;
    padding: 54px 54px;
}

.parallax-quote-light .parallax-quote-in {
    background-color: #E7F76D;
}

.breadcrumbs.breadcrumbs-light {
    background: #fff;
}

.parallax-quote {
    background: url(/img/lark/art/waterfallweb.jpg) 50% 0 repeat fixed !important;
}

/*.header-fixed .header-v6.header-sticky {
    border-bottom: 1px solid #FFBFCB!important;
}*/

.header-v6.header-classic-white .navbar {
    background: rgba(253, 227, 167, 0.5);
}

.headline1 {
    display: block;
    margin: 10px 0 25px 0;
}

.headline1 h2, .headline1 h3, .headline1 h4 {
    border-bottom: 2px solid #a10f2b;
}

.footer{
    position: bottom;
	background-color: #ECDAAF;
	color:#ffffff;
}
.cube-portfolio{
    text-align: center;
 }
.cbp-caption-activeWrap {
    background-color: #EEEEEE;
    max-width: 100%;
}

.cbp-caption{

}
.increasefont{
    font-size: 15px!important;
}

.img-thumbnail{
    height:400px;
}

.cbp-caption-defaultWrap{
  max-width: inherit !important;
}

.cbp-l-caption-title{
    color: #a10f2b;
    font-weight: 700;
    word-break: break-all;
    word-wrap:break-word;
}

.cbp-l-caption-desc{
    color: #a10f2b;
    
}

.cbp-l-filters-text .cbp-filter-item{
    font-weight: 700;
    font: 400 15px/21px Lato, sans-serif;
}

.cbp-item {
    vertical-align: top;
    position: center;
    max-width: 100%; 
}

.cbp-title-dark{
    max-width: inherit !important;
}
.cube-portfolio .cbp-l-grid-agency-title {
    white-space: normal;
    font-size: 13px;
    font-weight: 600;
    max-width: 300px;
    position: right;
}

.cube-portfolio .cbp-l-grid-agency-desc {
    white-space: normal;
    font-size: 11px;
    max-width: 300px;
}


.shrink-logo{
    height:180px !important;
    margin-top: -30px;
    max-height: 300px !important;
}

.owl-carousel span{
    font-size: 15px;
}

.portfolio-box-v1 li:hover:after{
    background: none;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.loader {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 80%;
    width: 50px;
    height: 50px;
    z-index: 9999;
    background: url('/img/loading-icon/facebook.gif') 50% 50% no-repeat;
    opacity: 0.8;
}

h2:before { 
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
}

.selected{
    color: red;
}

.bio-links{
    color: #6C3306;
}

a.bio-links:visited{
    color: #6C3306;
}