.parallax-quote {
    background: url(/img/patterns/16.jpg) 50% 0 repeat fixed !important;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: white;
    padding: 54px 54px;
}

.parallax-quote-light .parallax-quote-in {
    background-color: #E7F76D;
}

.breadcrumbs.breadcrumbs-light {
    background: #fff;
}

.parallax-quote {
    background: url(/img/lark/art/waterfallweb.jpg) 50% 0 repeat fixed !important;
}

/*.header-fixed .header-v6.header-sticky {
    border-bottom: 1px solid #FFBFCB!important;
}*/

.header-v6.header-classic-white .navbar {
    background: rgba(253, 227, 167, 0.78);
}

.headline1 {
    display: block;
    margin: 10px 0 25px 0;
}

.headline1 h2, .headline1 h3, .headline1 h4 {
    border-bottom: 2px solid #a10f2b;
}

.footer{
	background-color: #ECDAAF;
	color:#ffffff;
}

.cbp-caption-activeWrap {
    background-color: #EEEEEE;
}

.cbp-l-caption-title{
    color: #a10f2b;
    font-weight: 700;
}

.cbp-l-caption-desc{
    color: #a10f2b;
}

.cbp-l-filters-text .cbp-filter-item{
    font-weight: 700;
}

.cbp-item {
    vertical-align: top;
}

.img-thumbnail{
    height: 400px;
}

.cube-portfolio .cbp-l-grid-agency-title {
    font-size: 13px;
    font-weight: 600;
}

.cube-portfolio .cbp-l-grid-agency-desc {
    font-size: 11px;
    text-transform:none;
}

.shrink-logo{
    height:200px !important;
    margin-top: -30px;
    max-height: 300px !important;
}

p {
    text-align: justify;
    text-justify: inter-word;
}