.delete-image {
  margin-top:30px;
  margin-right:-15px;
  position: center;
  float:right;
  cursor: pointer;
}

.delete-image:hover {
  text-decoration: none;
}

.cbp-item{
    width:inherit;
    height:inherit;  
}
.cbp-caption-activeWrap{
     
}
.artname,.add-art:hover{
    position:center;
    float:right;
    cursor:pointer;
}