.delete-image {
  margin-top:20px;
  margin-bottom:50px;
  margin-right:-22px;
  float:right;
  cursor: pointer;
}

.delete-image:hover {
  text-decoration: none;
}

.cbp-l-grid-gallery{
    
}
.cbp-l-caption-title{
    margin-bottom:30px;
}
.add-artname,.add-artname:hover{
    position:center;
    float:right;
    cursor:pointer;
}
.add-artname:hover{    
    
}

/* For transparency 
.cbp-l-grid-gallery:hover{

    zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;

}     */