.delete-image {
  margin-top:30px;
  margin-right:-15px;
  position: center;
  float:right;
  cursor: pointer;
}

.delete-image:hover {
  text-decoration: none;
}

.cbp-item{
    width:inherit;
    height:inherit;
    min-height: 400px; min-width: 400px;
    max-width: 400px; max-height: 400px;    
}
.cbp-caption-activeWrap{
     max-height: 200px;
}
.artname,.add-art:hover{
    position:center;
    float:right;
    cursor:pointer;
}