<template name="gallery">
    <!-- Portfolio -->
    <div class="container content-sm">
        <div class="text-center">
            <h2 class="title-v2 title-center">GALLERY</h2>
        </div>
        {{#if username}}        
        {{> dropzone}}
        {{/if}}
        
            <!-- Cube Portfolio -->
            <div class="cube-portfolio container margin-bottom-60">
            <h3>{{getCurrentCategory}}</h3>
                <div class="content-xs">
                    <div id="filters-container" class="cbp-l-filters-text content-xs">
                        <div class="cbp-filter-item-active cbp-filter-item"> 
                            <div class="all" data-target='#all'> All |</div>
                         </div>
                        <div class="cbp-filter-item"> 
                            {{#each category}}
                              {{#if this}}  | <div data-filter="{{this}}" class="cbp-filter-item"> {{this}} </div> {{/if}}
                            {{/each}}
                       </div>
                    </div>  <!--/end Filters Container-->
                </div>
                <!-- Below Block to be optimized -->
                <div id="all">
                    {{#each images getCurrentCategory}}
                    {{> image}}
                    {{/each}}
                </div>

                
            </div>

            <!-- End Cube Portfolio -->
        </div>
    <!-- End Portfolio -->
    
</template>