<template name="gallery">
    <!-- Portfolio -->
    <div class="container content-sm">
        <div class="text-center">
            <h2 class="title-v2 title-center">GALLERY</h2>
        </div>
        {{#if username}}        
        {{> dropzone}}
        {{/if}}
        
            <!-- Cube Portfolio -->
            <div class="cube-portfolio container margin-bottom-60">
                <div class="content-xs">
                   <div id="filters-container" class="cbp-l-filters-text content-xs">
                    <div class="cbp-filter-item cbp-filter-item-active cbp-filter-item-all"> 
                        <div id="al" data-filter="all" data-target='#all'> All </div>
                     </div>
                         {{#each category}}
                           {{#if this}}  | <div class="cbp-filter-item cbp-filter-item-others" id="{{this}}" data-filter="{{this}}" > {{this}} </div> {{/if}}
                         {{/each}}
                    </div>  <!--/end Filters Container-->
                </div>
                <!-- Below Block to be optimized -->
                <div id="grid-container" class="cbp-l-grid-agency grid">
                    {{#each images getCurrentCategory}}
                    {{> image}}
                    {{/each}}
                </div>
               <!--  <span class="stretch"></span>  -->
                {{> addInfo}} 
            </div>
               
            <!-- End Cube Portfolio -->
    </div>
    <!-- End Portfolio -->
    
</template>