<template name="gallery">
    <!-- Portfolio -->
    <div class="container content-sm">
        <div class="text-center">
            <h2 class="title-v2 title-center">GALLERY</h2>
        </div>

        {{#if username}}
        
        {{> dropzone}}
        
        {{/if}}

        <!-- Cube Portfolio -->
        <div class="cube-portfolio container margin-bottom-20">
            <div class="margin-bottom-30">
                <div class="categorize">
                   <p> </p> <button class="btn" data-toggle="collapse" data-target="#category"> All</button> |
                    <button class="btn" data-toggle="collapse" data-target="#category1"> 1990 - 2000 </button> |
                    <button class="btn" data-toggle="collapse" data-target="#category2"> 2000 - 2013 </button> |
                    <button class="btn" data-toggle="collapse" data-target="#category3"> 2014 </button> |
                    <button class="btn" data-toggle="collapse" data-target="#category4"> 2015 </button> |

                </div><!--/end Filters Container-->
            </div> 
            <div id="category" class="collapse in">
                {{#each images}}
                {{> image}}
                {{/each}}
            </div> 

            <div id="category1" class="collapse">
                    {{#each images1990}}
                    {{> image}}
                    {{/each}}
            </div>            
            
            <div id="category2" class="cbp-l-grid-gallery">
                {{#each images2000}}
                {{> image}}
                {{/each}}
            </div>
            <div id="category3" class="cbp-l-grid-gallery">
                {{#each images2014}}
                {{> image}}
                {{/each}}
            </div>
            <div id="category4" class="cbp-l-grid-gallery">
                {{#each images2015}}
                {{> image}}
                {{/each}}
            </div>
        </div>
    
            <!-- End Cube Portfolio -->
    </div>
    <!-- End Portfolio -->
    
</template>