<template name="home">
    <!-- About Me Block -->
    <div class="container content-sm">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="/img/lark/larportopt.jpg" alt="">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>LARK (Larisa Pilinsky)</h2>
                        <span>Artist</span>
                    </div>
                    <ul class="social-icons pull-right">
                        <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                        <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                    </ul>
                </div>
                <p>The Magic in My Art and Heart</p>
                <p>For me creation is a dialogue with the world. I listen to voices that could lead my hand, and watch things that appeal to my eyes. I don't always know when I will start working on my art. Perhaps it will be five minutes. Or five hours. Or five days.</p>

                <p>I can stop right in the middle of my studio after seeing something that attracts my attention. It could be a broken mechanism or an interesting combination of colorful papers and cardboards. Or just a torn shoe lace tenderly hugging another torn shoe lace, the two of them starting a new drama for me.</p>

                <p>I cannot help but hear and become absorbed in listening to the rusty voice of an old metal bed frame, the elegant nostalgic whisper of an old silk tissue, the kindly rural chatter of a wooden armoire, or the sexy baritone of a velvet glove.</p>

                <p>Together these impressions of my senses turn into a group of actors in costume, an orchestra of colors, and ballet of lines and shapes. All I need now - to choose who will be the star today: who will be prima ballerina, and who will go into the shade.</p>

                <p>This mystical playtime often keeps me up until early in the morning, when my husband has been long asleep and my dog snores happily at my feet. Eventually, I have to end the drama and finish the picture.</p>

                <p>For you who view my work, I hope this well be a new beginning. Feel free to begin a dialogue with my picture and, through it, my world. Make the play as endless as you like. Vary the heroes, actors and music. Make this world come alive with the magic of your imagination.</p><br>

            </div>
        </div>
    </div>
    <!-- End About Me Block -->

    <!-- Parallax Quote -->
    <div class="parallax-quote parallax-quote-light parallaxBg">
        <div class="container">
            <div class="parallax-quote-in rounded">
                <p>With her deeply emotional sense of beauty and romance, Lark uses found objects to create light and space</p>
                <small>- Review -</small>
            </div>
        </div>
    </div>
    <!-- End Parallax Quote -->




    <div class="bg-grey content-sm">

        <div class="container">

            <div class="row">

                <div class="col-md-6">
                    <div class="thumbnails-v1">
                        <div class="thumbnail-img">
                            <img class="img-responsive" src="/img/lark/Larkonhorsewew.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center margin-bottom-50">
                        <h2 class="title-v2 title-center">BIO</h2>
                    </div>
                    <p>Born in the remote mountains of central Asia,
                        <font size="2" face="Geneva, Arial, Helvetica, sans-serif"><font color="#660000" size="3"><strong>Lark</strong> </font>(Larisa Pilinsky)</font> grew up in Ukraine and studied art in Russia. She first became known for her work with the&nbsp;award-winning Bunker Art Group of Armenia —“fellow rebels in abstraction” against Soviet artistic repression. </p>
                    <p>Since emigrating&nbsp;to the United&nbsp;States in 1991, <font size="2" face="Geneva, Arial, Helvetica, sans-serif"><font color="#660000" size="3"><strong>Lark</strong></font></font> has been recognized by respected critics and dealers. Her assemblages and, more recently, her paintings, have been featured in more than 30 solo and group shows including the Nickelodeon Animation Studios, the Avatar Art Gallery, the Swedish-American Museum of Art, and the Museums of&nbsp;Contemporary Art in Armenia and Russia. Lark’s work has been selected through&nbsp;juried competitions by the SoHo International Art Competition&nbsp;and the Foundation of Collage Artists of America.</p>
                    <p><font size="2" face="Geneva, Arial, Helvetica, sans-serif"><font color="#660000" size="3"><strong>Lark</strong></font></font> creates assemblages by recycling found objects and processing them through spiritual meditation, encouraging images to appear out of her subconscious, awakening both familiar and unfamiliar thoughts in viewers. Learning about her materials by exploring both their formal and their narrative qualities, she simultaneously reformulates them according to her deeply emotional, poetically romantic sense of beauty.</p>
                    <p>Their original functions discarded, their origins long forgotten, the objects she engages and interacts with are free to play imagined roles, resonating within one another and telling countless tales. </p><br>
                </div>
            </div>
        </div>
    </div>


    <ul class="list-unstyled row portfolio-box-v1">
        <li class="col-md-3 col-sm-6">
            <img class="img-responsive" src="/img/main/img12.jpg" alt="">
            <div class="portfolio-box-v1-in">
                <h3>Footer art 1</h3>
                <p>Short description</p>
            </div>
        </li>
        <li class="col-md-3 col-sm-6">
            <img class="img-responsive" src="/img/main/img4.jpg" alt="">
            <div class="portfolio-box-v1-in">
                <h3>Footer art 2</h3>
                <p>Short description</p>
            </div>
        </li>
        <li class="col-md-3 col-sm-6">
            <img class="img-responsive" src="/img/main/img7.jpg" alt="">
            <div class="portfolio-box-v1-in">
                <h3>Footer art 3</h3>
                <p>Short description</p>
            </div>
        </li>
        <li class="col-md-3 col-sm-6">
            <img class="img-responsive" src="/img/main/img17.jpg" alt="">
            <div class="portfolio-box-v1-in">
                <h3>Footer art 4</h3>
                <p>Short description</p>
            </div>
        </li>
    </ul>
</template>