<template name="home">
    <div class="increasefont">
    <!-- About Me Block -->
    <div class="container content-sm">
        <div class="row about-me">
            <div class="col-sm-3 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="/img/lark/profile/lark-photo.jpg" alt="">
                </div>
            </div>

            <div class="col-sm-9">
                <div class="overflow-h">
                    <div class="pull-left headline1">
                        <h2 id="about">Lark</h2>
                        <span>Lark Pilinsky</span>
                    </div>
                    <ul class="social-icons pull-right">
                        <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="https://www.facebook.com/lark.pilinsky.art"></a></li>
                        <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="https://twitter.com/larisa_lark"></a></li>
                        <li><a class="rounded-x social_instagram" data-original-title="Instagram" href="https://www.instagram.com/lark_art/"></a></li>
                        <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/in/lark-larisa-pilinsky-2728254"></a></li>
                    </ul>
                </div>
                <p>
                    In her recent landscapes, which began as highly abstract improvisations but have become increasingly and strikingly representational, Lark recalls the rural settings of her youth. Both vivid and darkly atmospheric, these paintings are not only beautiful and poignant but alive with both joy and pain. 
                </p>
                <br/>
                <p>
                    And always, they are haunted and illuminated by the poetry she writes to accompany her art, adding structure to her subtly embedded visual forms, and suggesting that art is Lark’s way of making poems, using colors and strokes to explore and illustrate the broad spectrum of human emotions.
                </p>
                <br>

            </div>
        </div>
    </div>
    <!-- End About Me Block -->

     <!-- Parallax Quote -->
    <div class="parallax-quote parallax-quote-light parallaxBg">
        <div class="container">
            <div class="headline-center headline-light owl-carousel">

                    <div>
                        <h2>" I am rarely a 'fan' of any artist, but LARK aka Larisa Pilinsky is an exceptional phenomenon. Besides her brilliant sense of composition, she is the ultimate "Green Artist" or maybe she is also the grand 'love child' of Kandinsky and Schwitters, but regardless I find Lark's talent is built from the 'shoulders' of masters of 20th century. "</h2>

                        <span>- Tony Clark, Chévalier dans l'Ordre des Arts et des Lettres, American Association Of Museum Directors Board Member -</span>

                    </div>
                    <div>
                        <h2>" Lark's paintings with their soft amazing shades and musical language reflect her inner poetry. That’s why, looking at her artworks, you think, "That’s so right, that’s exactly what I want to say to the world...Lark gives me real freedom of expression. Looking at her paintings how can you not recognize the refreshing, cleansing and healing-the-body-and-soul act of a real artist? "</h2>

                        <span>- IrIna ShulkIn, Wholesome Nutrition Instructor -</span>
                    </div>
                    <div>
                        <h2>" I just want to state once more time how much I am a fan of your work, there is something deeply intense and critical in the personal sensibilities and modalities of your art works. A midst a plethora of art, you manage to say something very different. "</h2>
                        <span>- SuzIe Maria, Editorial Director -</span>
                    </div>

            </div>
        </div>
    </div>
    <!-- End Parallax Quote -->


    <div class="bg-grey content-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center margin-bottom-50">
                        <div class="overflow-h">
                            <div class="pull-left headline1">
                                <h2 id="bio">BIO</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    
           <div class="row">
            <div class="col-md-6">
                <p>Born in the remote mountains of central Asia, where her father was a geologist, and surrounded by wild nature, beautiful minerals and semi-precious stones, Lark (Larisa Pilinsky) developed from her childhood intimate relationship with the world around her.</p>

                <p>"Nature for me is alive, tender, joyful and suffering, she tells me about her feelings and helps me to share mine through art and poetry. She gives me energy, inspiration and healing when I feel physical or emotional pain.” </p>

                <p>Using her unique style, composed from meditation and intuition, Lark brings subconscious reflections of nature into her art, inviting viewers to experience its healing powers.</p>

                 <p>From the beginning of her art career, Lark’s art caught the attention of art lovers and gained recognition from art jurors including LA Weekly critic Peter Frank, Sweeney Art Gallery director Tyler Stallings, Santa Monica Museum of Art director Lisa Melandri and  MOCA curator Alma Ruiz.</p>

                 <p>Articles about Lark's art and achievements were published in the 
                 <u><b> 
                         <a data-toggle="modal" href="#Magazine">Immigrant Magazine,</a>
                 </b></u> the 
                 <u><b>
                          <a data-toggle="modal" href="#Art">Art-to-Art Palette Journal</a>
                 </b></u> and 
                 <u><b>
                    <a data-toggle="modal" href="#Work">Online Art Magazine "Crave”</a>
                 </b></u> describing her work and career.
                 </p>          
                 

<div id="Magazine" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
      <div class="modal-body">
           <img class="img-responsive" id="a" src="/img/bio/Article-by-By-Tony-Clark-web.jpg" alt="">
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
 </div>
</div>

<div id="Art" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
           <img class="img-responsive" id="a" src="/img/bio/Crave-Magazine-about-Lark-Pilinsky.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div id="Work" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <img class="img-responsive" id="a" src="/img/bio/Immigrant-Magazine#1-2_Lark-Larisa-Pilinsky.jpg" alt="">
      </div>
    </div>
  </div>
</div>


          <br>
                </div>
                <div class="col-md-6">
                    <div class="thumbnails-v1">
                        <div class="thumbnail-img">
                            <img class="img-responsive" src="/img/lark/profile/1_Lark_Pilinsky_with_Art.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>

    <ul class="list-unstyled row portfolio-box-v1">
        <li class="col-md-3 col-sm-6">
            <img class="img-responsive" id="a" src="/img/lark/art/footer/3_Lark_Emerald_Morning.jpg" alt="">
        </li>
        <li class="col-md-3 col-sm-6">
              <img class="img-responsive" id="a" src="/img/lark/art/footer/LarkTheVoice.jpg" alt="">
        </li>
        <li class="col-md-3 col-sm-6">
            <img class="img-responsive" id="a" src="/img/lark/art/footer/Strange Guest.jpg" alt="">
        </li>
        <li class="col-md-3 col-sm-6">
            <img class="img-responsive" id="a" src="/img/lark/art/footer/Vibrant Sunrise.jpg" alt="">
        </li>
    </ul>

    </div>
</template>